.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 0 4vh;
	margin: auto 10vw;
}


@media all and (min-width: 991px) {
}

.icon {
	width: 4vh;
}


@media all and (min-width: 1024px) {
	.container {
		margin: auto 14vw;
	}
}

@media all and (min-width: 1100px) {
	.container{
		margin: auto 20vw;
	}
}