@font-face {
	font-family: "Metropolis-Bold";
	src: url("../fonts/Metropolis-Bold.otf");
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 0 4vh;
	margin: auto 10vw;
	overflow-x: hidden;
}


h1 {
	font-family: bilo-medium, sans-serif;
	font-weight: 200;
	font-style: normal;
}

h2 {
	font-family: bilo-medium, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
	margin-left: 0px;
	text-align: left;
}

h3 {
	font-family: bilo-medium, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 15px;
}

p, ol, ul {
	font-family: bilo, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 15px;
	text-align: left;
}

.tinyText {
	font-family: bilo, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 9px;
	text-align: center;
}

a {
	font-family: bilo, sans-serif;
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: #9E71B2;
}

ol {
	font-family: bilo, sans-serif;
	padding-left: 0;
	text-align: left;
}

ul {
	font-family: bilo, sans-serif;
	text-align: left;
	padding-left: 0;
	margin-left: 23px;
}

@media all and (max-width: 415px) {
	h1 {
		text-align: center;
	}
}

@media all and (min-width: 416px) and (max-width: 768px) {
	h2 {
		font-size: 22px;
	}

	p, ol, ul  {
		font-size: 20px;
	}

	.tinyText {
		font-size: 15px;
	}

	h3 {
		font-size: 21px;
	}
}

/*
Probably need more division
*/
@media all and (min-width: 769px) and (max-width: 1439px) {
	h2 {
		font-size: 25px;
	}

	p, ol, ul  {
		font-size: 23px;
	}

	h3 {
		font-size: 24px;
	}

	.tinyText {
		font-size: 16px;
	}
}

@media all and (min-width: 1440px) {
	h2 {
		font-size: 28px;
	}

	p, ol, ul  {
		font-size: 25px;
	}

	.tinyText {
		font-size: 17px;
	}

	h3 {
		font-size: 21px;
	}
}
	