@font-face {
	font-family: "Metropolis-Bold";
	src: url("../fonts/Metropolis-Bold.otf");
}

h1 {
	font-family: bilo, sans-serif;
	font-weight: 200;
	font-style: normal;
}

h2 {
	font-family: bilo, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 15px;
}

@media all and (max-width: 768px) {
	h1 {
		text-align: center;
	}
}

@media all and (min-width: 769px) and (max-width: 1023px) {
	h2 {
		font-size: 22px;
	}
}

@media all and (min-width: 1024px) and (max-width: 1439px) {
	h2 {
		font-size: 25px;
	}
}

@media all and (min-width: 1440px) {
	h2 {
		font-size: 28px;
	}	
}
	