@font-face {
	font-family: "Metropolis-Bold";
	src: url("../fonts/Metropolis-Bold.otf");
}

h1 {
	font-family: bilo-medium, sans-serif;
	font-weight: 200;
	font-style: normal;
}

h2 {
	font-family: bilo-medium, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
	margin-left: 8px;
}

h3 {
	font-family: bilo-medium, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 15px;
	margin-left: 8px;
}

body {
	font-family: bilo, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 15px;
}

.tinyText {
	font-family: bilo, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 9px;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: #9E71B2;
}


@media all and (max-width: 768px) {
	h1 {
		text-align: center;
	}

	h2 {
		text-align: center;
	}
}

@media all and (min-width: 769px) and (max-width: 1023px) {
	h2 {
		font-size: 22px;
	}

	body {
		font-size: 20px;
	}

	.tinyText {
		font-size: 15px;
	}
}

@media all and (min-width: 1024px) and (max-width: 1439px) {
	h2 {
		font-size: 25px;
	}

	body {
		font-size: 23px;
	}

	.tinyText {
		font-size: 16px;
	}
}

@media all and (min-width: 1440px) {
	h2 {
		font-size: 28px;
	}

	body {
		font-size: 20px;
	}

	.tinyText {
		font-size: 17px;
	}
}
	