.header {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: start;
	width: auto;
	justify-content: center;
	height: auto;
	padding-bottom: 2vh;
	top: 2vh;
}

.initials > a {
	font-family: 'Metropolis-Bold', sans-serif;
	text-decoration: none;
	color: black;
	line-height: auto;
	position: absolute;
	left: 10vw;
	top: calc(2vh + 5%);
	font-size: 15px;
}

@media all and (min-width: 416px) {
	.initials > a {
		top: calc(2vh + 11%);
		font-size: 20px;
	}
}

@media all and (min-width: 769px) and (max-width: 1439px) {
	.initials > a {
		top: calc(2vh + 14%);
		font-size: 23px;
	}
}

@media all and (min-width: 1440px) {
	.initials > a {
		top: calc(2vh + 17%);
		font-size: 25px;
	}
}

.initials:visited {
	color: black;
}

.pages {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 50%;
	position: relative;
}

@media all and (min-width: 768px) {
	.pages {
		width: 50%;
	}
}

/*
Cut out for desktop
*/
@media all and (min-width: 992px) {
	.header {
		justify-content: left;
		margin: auto 10vw;
	}

	.pages {
		margin-left: 100px;
	}

	.initials > a {
		left: inherit;
	}
}

@media all and (min-width: 1024px) and (max-width: 1439px) {
	.pages {
		width: 40%;
	}
}

@media all and (min-width: 1440px) {
	.pages {
		width: 40%;
	}
}

.linkStyle {
	text-decoration: none;
	color: black;
}

.linkStyle:visited {
	color: black;
}

.linkStyle:hover {
	color: #9E71B2;
}