.container {
	display: flex;
	flex-direction: column-reverse;
	width: 100vw;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0 2.5vh 4vh 2.5vh;
}

h1 {
	font-size: 29px;
	text-align: center;
}

.introText {
	padding-bottom: 13px;
}

.coverPhoto {
	top: -4vh;
}

.topChunk {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.socialMediaBar {
	width: 60%;
	height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.icon {
	width: 38px;
}

@media all and (min-width: 601px) and (max-width: 991px) {
	.container {
		display: flex;
		flex-direction: column-reverse;
	}

	.coverPhoto {
		top: 0vh;
	}

	h1 {
		font-size: 38px;
	}

	.icon {
		width: 44.53px;
	}

	.topChunk {
		position: relative;
	}

	.socialMediaBar {
		width: 40%;
	}

	.pages {
		width: 50%;
	}
}

/*cut out for desktop*/
@media all and (min-width: 992px) {
	.topChunk {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}

@media all and (min-width: 992px) and (max-width: 1023px) {
	.container {
		display: block;
		width: 100vw;
		height: 100vh;
		text-align: left;
	}

	h1 {
		font-size: 30px;
		text-align: left;
	}

	.topChunk {
		top: 60px;
	}
}

@media all and (min-width: 1024px) and (max-width: 1439px) {
	.container {
		display: block;
		width: 100vw;
		height: 100vh;
		text-align: left;
	}

	.coverPhoto {
		top: 0vh;
	}

	.pages {
		width: 100%;
		margin-left: 20vh;
	}

	h1 {
		font-size: 40px;
		text-align: left;
	}

	.topChunk {
		position: absolute;
		display: flex;
		flex-direction: column;
		top: 10vh;
	}

	.socialMediaBar {
		position: relative;
		height: 45px;
	}

	.icon {
		width: 40px;
	}
}

@media all and (min-width: 1440px) {
	.container {
		display: block;
		width: 100vw;
		height: 100vh;
		text-align: left;
	}

	.coverPhoto {
		top: 0vh;
	}

	.pages {
		width: 100%;
		margin-left: 20vh;
	}

	h1 {
		font-size: 50px;
		text-align: left;
	}

	.topChunk {
		top: 10vh;
		align-items: flex-start;
	}

	.socialMediaBar {
		position: relative;
	}

	.icon {
		width: 6vh;
	}
}