.container {
	display: flex;
	flex-direction: column-reverse;
	width: 100vw;
}

h1 {
	font-size: 29px;
	text-align: center;
}

.introText {
	padding-bottom: 13px;
}

.coverPhoto {
	top: -4vh;
}

.topChunk {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.socialMediaBar {
	width: 60%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.icon {
	width: 38px;
}

.pages {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	margin-top: 10px;
}

h2 {
	font-size: 22px;
}

@media all and (min-width: 1024px) and (max-width: 1439px) {
	.container {
		display: block;
		width: 100vw;
		height: 100vh;
		text-align: left;
	}

	.coverPhoto {
		top: 0vh;
	}

	h1 {
		font-size: 40px;
		text-align: left;
	}

	.topChunk {
		position: absolute;
		display: flex;
		flex-direction: column;
		top: 5vh;
		left: 5vh;
		align-items: flex-start;
	}

	.socialMediaBar {
		position: relative;
	}

	.icon {
		width: 4vh;
	}
}

@media all and (min-width: 1440px) {
	.container {
		display: block;
		width: 100vw;
		height: 100vh;
		text-align: left;
	}

	.coverPhoto {
		top: 0vh;
	}

	h1 {
		font-size: 50px;
		text-align: left;
	}

	h2 {
		font-size: 30px;
	}
	
	.topChunk {
		position: absolute;
		display: flex;
		flex-direction: column;
		top: 9vh;
		left: 9vh;
		align-items: flex-start;
	}

	.socialMediaBar {
		position: relative;
	}

	.icon {
		width: 6vh;
	}
}

@media all and (min-width: 991px) and (max-width: 1023px) {
	.container {
		display: block;
		width: 100vw;
		height: 100vh;
		text-align: left;
	}

	h1 {
		font-size: 30px;
	}

	.topChunk {
		top: 30px;
		left: 30px;
	}
}

@media all and (min-width: 601px) and (max-width: 991px) {
	.container {
		display: flex;
		flex-direction: column-reverse;
	}

	.coverPhoto {
		top: 0vh;
	}

	h1 {
		font-size: 38px;
	}

	.icon {
		width: 44.53px;
	}

	.topChunk {
		position: relative;
		top: -30px;
	}

	.socialMediaBar {
		width: 40%;
	}

	.pages {
		width: 50%;
	}
}
