.container {
	display: flex;
	flex-direction: row;
	padding: 0 2.5vh 4vh 2.5vh;
	text-align: left;
}

.mainContent {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

ol {
	padding-left: 5vh;
}

ul {
	padding-left: 5vh;
	margin:0px;
}